@{
    ViewBag.Title = "Home Page";
}

<section class="banner-area relative mt-3">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row fullscreen align-items-center justify-content-between">
            <div class="col-lg-8 col-md-6 banner-left banner paddingTextoBanner">
                <h1 class="text-white">Comodidad a tu alcance</h1>
                <p class="text-white">
                    La comodidad y la calidad no tiene por qué ser algo para unos pocos. </br>
                    La conexión con la naturaleza que buscas
                    está en un sólo lugar.
                </p>
                <button class="btn btn-primary btn-lg">
                    @Html.ActionLink("Haz tu reserva", "Index", "Valoraciones", new { @class = "text-white"})
                </button>
            </div>
        </div>
    </div>
</section>

<div class="row">
    <div class="col-md-4">
        <h2>Valoraciones de nuestros clientes</h2>
        <p>
            Parte del éxito es la transparencia, es por ello que nos tomamos muy en serio los comentarios de nuestros clientes
            para continuar mejorando y ofrecer la calidad que todos merecen.
        </p>
        <button class="btn btn-default">
            @Html.ActionLink("Valoraciones", "Index", "Valoraciones")
        </button>
    </div>
    <div class="col-md-4">
        <h2>Da un vistazo a la historia</h2>
        <p>Conoce nuestra historia y hacia dónde apuntan nuestros anhelos de mejora.</p>
        <button class="btn btn-default">
            @Html.ActionLink("Conócenos", "About", "Home")
        </button>
    </div>
    @{
        if (!User.Identity.IsAuthenticated)
        {
            <div class="col-md-4">
                <h2>Cuenta personal</h2>
                <p>Puedes crear tu cuenta de una manera muy sencilla, con ella puedes reservar y crear tus propias valoraciones.</p>
                <button class="btn btn-default">
                    @Html.ActionLink("Regístrate", "Register", "Account")
                </button>
            </div>
        }
    }

</div>

