@model ProyectoFinalCadenaHotelera.Models.IndexViewModel
@{
    ViewBag.Title = "Administrar";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Cambiar la configuración de la cuenta</h4>
    <hr />
    <dl class="dl-horizontal">
        @{
            if (User.IsInRole("Cliente"))
            {
                <dt>Reservas:</dt>
                <dd>
                    @Html.ActionLink("Tu lista de reservas", "../Reserva/ListaReservasUsuario")
                </dd>
            }
        }
    </dl>
</div>
